@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .img-section {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;

    img {
      width: 30vh;
      margin-top: 2vh;
      margin-bottom: 5vh;
    }

    @media (max-width:770px) {
      margin-top: 15vh;
      margin-bottom: -5vh;

    }

    @media (max-width:400px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  section {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-section {
    flex-grow: 1;
    display: flex;
    padding: 2vh;
    max-width: 800px;
    height: 100vh;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
      padding: 1vh;

    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 30px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        font-size: 14px;
        color: #55f;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: #55f;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background: transparent;
        padding: 12px 24px;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
        }

        &.btn-primary {
          background-color: $primary-color;
          color: white;
          box-shadow: 0px 8px 12px rgba(148.23004603385925,
              64.33935597538948,
              255,
              0.20000000298023224);
        }

        &.btn-secondary {
          border: 1px solid $primary-color;
          color: $primary-color;
        }
      }

      button:nth-of-type(2) {
        margin-bottom: 5vh;
      }
    }
  }
}
